.box{
  width: 177px;
  height: 200px;
  display: inline-block;
}
.box-2{
  width: 177px;
  height: 200px;
  display: inline-block;
}
.box-3{
  width: 177px;
  height: 200px;
 display: inline-block;
}
